<div class="row">
    <h1>Hard and Soft Skills</h1>
                <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="50"
  [radius]="100"
  [imageSrc]="'../assets/eng.png'"
  [showImage]="true"
  [showUnits]="false"
  [showSubtitle]="false"
  [imageHeight]="70"
  [imageWidth]="70"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'green'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
                </div>

                <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../assets/grupal.png'"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [imageHeight]="70"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress>
                </div>
                <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="100"
            [radius]="100"
            [imageSrc]="'../assets/OIP.jpg'"
            [showImage]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'green'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
                </div>

                <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="60"
                [radius]="100"
                [imageSrc]="'../assets/CSS.png'"
                [showImage]="true"
                [showUnits]="false"
                [showSubtitle]="false"
                [imageHeight]="70"
                [imageWidth]="70"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="6"
                [outerStrokeColor]="'green'"
                [innerStrokeColor]="'black'"
                [animation]="true"
                [animationDuration]="500"
            ></circle-progress>
                </div>
                
                <div class="text-center col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                    [percent]="75"
                    [radius]="100"
                    [imageSrc]="'../assets/html.png'"
                    [showImage]="true"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [imageHeight]="70"
                    [imageWidth]="70"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="6"
                    [outerStrokeColor]="'green'"
                    [innerStrokeColor]="'black'"
                    [animation]="true"
                    [animationDuration]="500"
                ></circle-progress>
                 </div>

                <div class="text-center col-sm-4 col-md-4 col-lg-4">
                        <circle-progress
                        [percent]="80"
                        [radius]="100"
                        [imageSrc]="'../assets/git.png'"
                        [showImage]="true"
                        [showUnits]="false"
                        [showSubtitle]="false"
                        [imageHeight]="70"
                        [imageWidth]="70"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="6"
                        [outerStrokeColor]="'green'"
                        [innerStrokeColor]="'black'"
                        [animation]="true"
                        [animationDuration]="500"
                    ></circle-progress>
                </div>
                
                <div class="text-center col-sm-4 col-md-4 col-lg-4">
                  <circle-progress
                  [percent]="60"
                  [radius]="100"
                  [imageSrc]="'../assets/js.png'"
                  [showImage]="true"
                  [showUnits]="false"
                  [showSubtitle]="false"
                  [imageHeight]="70"
                  [imageWidth]="70"
                  [outerStrokeWidth]="16"
                  [innerStrokeWidth]="6"
                  [outerStrokeColor]="'green'"
                  [innerStrokeColor]="'black'"
                  [animation]="true"
                  [animationDuration]="500"
              ></circle-progress>
          </div>
</div>