
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoPerfil.jpeg" class="img-fluid" id="fotoperfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <h3><p id="nombre">Rocio Vera López</p></h3> 
       <!-- {{persona.nombre}} {{persona.apellido}} -->
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Estudiante en tercer año de Ingenieria en Sistemas de Información- UTN FRT</p>
        </span>
    </div>
</div>

